<!DOCTYPE html>
<html>
<head>
    <title>Office Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .form-control.required {
            border-left: 5px solid red;
        }
        .navbar-brand-custom {
            display: block;
            width: 150px;
            height: 40px;
            background-image: url(/Images/HandyMan.jpeg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            text-indent: -9999px;
            overflow: hidden;
        }

        .sidebar {
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #111;
            padding-top: 20px;
            transition: 0.5s;
            overflow-x: hidden;
            z-index: 1;
        }

            .sidebar a {
                padding: 10px 15px;
                text-decoration: none; /* Remove underline */
                font-size: 18px;
                color: #818181;
                display: block;
                transition: 0.3s;
                border: 1px solid transparent; /* Initial border to handle border-radius */
                border-radius: 5px; /* Apply border-radius */
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                    border: 1px solid #575757; /* Border color on hover */
                    background-color: #222; /* Background color on hover for better visibility */
                }

            .sidebar .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 0px;
        }

        .dropdown-menu {
            display: none;
        }

            .dropdown-menu.show {
                display: block;
            }

        .dropdown-item {
            color: #f1f1f1;
        }

            .dropdown-item:hover {
                background-color: #575757;
            }

        .sidebar .dropdown-menu {
            display: none;
            padding-left: 0; /* Remove default padding */
        }

            .sidebar .dropdown-menu.show {
                display: block;
            }

        .sidebar .dropdown-item {
            text-decoration: none; /* Remove underline */
            color: #f1f1f1; /* Set color */
            display: block;
            padding: 10px 15px; /* Adjust padding */
            border-radius: 5px; /* Apply border-radius */
        }

            .sidebar .dropdown-item:hover {
                background-color: #575757; /* Background color on hover */
            }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @if (User.IsInRole("Admin"))
                {
                    <button class="btn btn-primary" onclick="openNav()">☰</button>
                    @Html.ActionLink("HandyMan Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-custom" })
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li>@Html.ActionLink("Contact", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Feedbacks", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Marketing", "OnMap", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Sale", "Index", "Feedbacks", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                }
                else if (User.IsInRole("Appliance Repair Technician") || User.IsInRole("Carpenter")|| User.IsInRole("Electrician")|| User.IsInRole("General Home Maintenance")|| User.IsInRole("HVAC Technician")|| User.IsInRole("Plumber"))
                {
                    @Html.ActionLink("HandyMan Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-custom" })
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Activities</a>
                                <div class="dropdown-menu bg-light">
                                    <a href="@Url.Action("UserSubscriptions","UploadContents")" class="dropdown-item">OutStanding Task</a>
                                    <a href="@Url.Action("Index","DeviceBookings")" class="dropdown-item">Task History</a>
                                    <a href="@Url.Action("Index","InterLibraryLoanApplications")" class="dropdown-item">Task In-Process</a>
                                </div>
                            </div>
                            
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Qoutations</a>
                                <div class="dropdown-menu bg-light">
                                    <a href="@Url.Action("UserSubscriptions","UploadContents")" class="dropdown-item">OutStanding Task</a>
                                    <a href="@Url.Action("Index","DeviceBookings")" class="dropdown-item">Task History</a>
                                    <a href="@Url.Action("Index","InterLibraryLoanApplications")" class="dropdown-item">Task In-Process</a>
                                </div>
                            </div>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                }
                else
                {
                    @Html.ActionLink("HandyMan Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-custom" })
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Services", "Services", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                }
            </div>
        </nav>

        if (User.IsInRole("Admin"))
        {
<div id="mySidebar" class="sidebar bg-dark">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="@Url.Action("Index","Home")" onclick="closeNav()"><i class="fas fa-home"></i> Home</a>
    <a href="@Url.Action("About","Home")" onclick="closeNav()"><i class="fas fa-info-circle"></i> About</a>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i> Employees</a>
        <div class="dropdown-menu bg-dark">
            <a class="dropdown-item" href="@Url.Action("OnboardNewEmployee", "EmployeeOnBoardings")">
                <i class="bi bi-person-plus"></i> Register New Employee
            </a>
            <a class="dropdown-item" href="@Url.Action("ExistingEmployees", "Employee")">
                <i class="bi bi-person"></i> Existing Employees
            </a>
            <a class="dropdown-item" href="@Url.Action("EmployeesActivityHistory", "Employee")">
                <i class="bi bi-calendar"></i> Employees Activity History
            </a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="bi bi-briefcase"></i> Jobs</a>
        <div class="dropdown-menu bg-dark">
            <a class="dropdown-item" href="@Url.Action("RegisterNewEmployee", "Employee")">
                <i class="bi bi-check-circle"></i> Closed Jobs
            </a>
            <a class="dropdown-item" href="@Url.Action("ExistingEmployees", "Employee")">
                <i class="bi bi-clock"></i> Jobs In Process
            </a>
            <a class="dropdown-item" href="@Url.Action("EmployeesActivityHistory", "Employee")">
                <i class="bi bi-exclamation-triangle"></i> Unattended Jobs
            </a>
        </div>
    </div>

    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-cog"></i> Settings</a>
        <div class="dropdown-menu bg-dark">
            <a class="dropdown-item" href="@Url.Action("GeneralSettings", "Settings")">
                <i class="bi bi-gear"></i> General Settings
            </a>
            <a class="dropdown-item" href="@Url.Action("ProfileSettings", "Settings")">
                <i class="bi bi-person"></i> Profile Settings
            </a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-chart-line"></i> Reports</a>
        <div class="dropdown-menu bg-dark">
            <a class="dropdown-item" href="@Url.Action("SalesReport", "Reports")">
                <i class="bi bi-bar-chart"></i> Sales Report
            </a>
            <a class="dropdown-item" href="@Url.Action("EmployeeReport", "Reports")">
                <i class="bi bi-person-lines-fill"></i> Employee Report
            </a>
        </div>
    </div>
</div>
        }
    }
    else
    {
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("HandyMan Solutions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-brand-custom" })
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("FAQs", "FAQs", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Services", "Services", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    }

    <div id="main">
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }

        $(document).ready(function () {
            closeNav();

            $(".sidebar a").click(function () {
                if (!$(this).hasClass("dropdown-toggle")) {
                    closeNav();
                }
            });

            $(".dropdown-toggle").click(function (e) {
                e.preventDefault();
                var $dropdownMenu = $(this).next(".dropdown-menu");
                $(".dropdown-menu").not($dropdownMenu).slideUp();
                $dropdownMenu.slideToggle();
            });

            $(document).click(function (e) {
                if (!$(e.target).closest('.dropdown, .dropdown-toggle').length) {
                    $(".dropdown-menu").slideUp();
                }
            });
        });
    </script>
</body>
</html>
